
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}


#calculator{
background-color: rgb(19, 4, 4);
border-radius: 15px;
max-width: 500px;
}

#keys{
display: grid;
grid-template-columns:repeat(4, 1fr);
width: 350px;
gap: 10px;
padding: 25px;

}

button {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: none;
    background-color: rgb(11, 55, 38);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font: bold;
    color: rgb(221, 201, 241);
    cursor: pointer;
    
}

button:hover{
    background-color: rgb(23, 116, 81);
}

#display{
    width: 450px;
    height: 60px;
    text-align: left;
    padding: 20px;
    border: none;
    color: aliceblue;
    font-size: 30px;
    background-color: rgb(41, 37, 37);
}

.operator{
  background-color: rgb(209, 100, 17);
  
}
.operator:hover{
    background-color: rgb(214, 129, 64);
}